@model Deserto.Models.Instruction

@{
    ViewData["Title"] = "displayInstruction";
}
<script>
    function myFunction(term, expla) {

        var str = document.getElementById("intsr").innerHTML;

        var res = str.replace(term, "<a data-target=\"#exampleModal\" data-toggle=\"modal\" data-whatever=\"" + expla + "\" class=\"MainNavText\" id=\"MainNavHelp\" href = \"#exampleModal\" >" + term + "</a>");

        document.getElementById("intsr").innerHTML = res;

    }
</script>


<script>
    function voice(voice) {

        var msg = new SpeechSynthesisUtterance(voice);
        window.speechSynthesis.speak(msg);
    }
</script>

<h1>Instrução</h1>
<div>
    <h4>Instruction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.text)
        </dt>
        <dd class="col-sm-10">
            <p id="intsr">@Model.text</p>
        </dd>
    </dl>
</div>




@foreach (var explanation in Model.explanations)
{
    <script>
        myFunction('@(explanation.term)', '@(explanation.explanation)');
    </script>

}
<input id="voiceButton " type="button" value="Repetir Som" onclick="voice('@(Model.text)');" />
<script> voice('@(Model.text)');</script>




<div>
    <a asp-action="Edit" asp-route-id="@Model.instructionID">Edit</a> |
    <a asp-action="Index">Back to List</a>

    <form asp-action="displayInstruction">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (TempData["button"].Equals("False"))
        {
            <div class="form-group">
                <input type="submit" value="Next" name="ordem" class="btn btn-default btn-primary" />
            </div>
        }
        @if (!TempData["ordernr"].Equals(0))
        {
            <div class="form-group">
                <input type="submit" value="Back" name="ordem" class="btn btn-default btn-primary" />
            </div>
        }
    </form>
    @if (TempData["button"].Equals("True"))
    {
        <dt class="col-sm-2">
            <p>"Receita Termianda"</p>
            <p><a asp-controller="RecipeView" asp-action="Rating" class="tm-nav-item-link">Terminar Receita</a></p>
        </dt>
    }
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes

        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('Explicação do termo selecionado')
        modal.find('.modal-body').text(recipient)
    })</script>
