@model IEnumerable<Deserto.Models.Recipe>

@{
    ViewData["Title"] = "getRecipes";
}

<h1>Lista de Receitas</h1>

<p>
    <a asp-action="Create">Criar Nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.original)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nutValues)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.original)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.difficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nutValues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imagePath)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.recipeID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.recipeID">Remover</a>

                <p>
                <a asp-action="editarRecipe" asp-route-id="@item.recipeID">Editar Receita</a>
                </p>
            </td>
        </tr>
}
    </tbody>
</table>
