@model IEnumerable<Deserto.Models.Recipe>

@{
    ViewData["Title"] = "getRecipes";
}

<h1>Receitas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Duração
            </th>
            <th>
                Dificuldade
            </th>
            <th>
                Valores Nutricionais
            </th>
            <th/>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.difficulty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nutValues)
                </td>
                <td>
                    <!-- Display da imagem-->
                    @Html.DisplayFor(modelItem => item.imagePath)
                </td>
                <td>
                    @if (TempData[item.recipeID.ToString()] != null)
                    {
                        <a asp-controller="RecipeView" asp-action="removeFromRecipeBookRecipeSearch" asp-route-recipeID="@item.recipeID">Remover do Livro de Receitas</a>
                    }
                    else
                    {
                        <a asp-controller="RecipeView" asp-action="addToRecipeBook" asp-route-recipeID="@item.recipeID">Adicionar ao Livro de Receitas</a>
                    }
                    |
                    <a asp-controller="RecipeView" asp-action="viewRecipe" asp-route-recipeID="@item.recipeID">Ver Receita</a>

                </td>
            </tr>
        }
    </tbody>
</table>

