@model IEnumerable<Deserto.Models.Recipe>

@{
    ViewData["Title"] = "getUserRecipes";
}

<h1>Lista de Receitas</h1>

<p>
    <a asp-action="Create">Criar Nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Original
            </th>
            <th>
                Duração
            </th>
            <th>
                Dificuldade
            </th>
            <th>
                Valor Nutricional
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.original)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.difficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nutValues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imagePath)
            </td>
            <td>
                <a asp-controller="RecipeView" asp-action="viewRecipe" asp-route-recipeID="@item.recipeID">Ver Receita</a> |
                <a asp-controller="RecipeView" asp-action="removeFromRecipeBookRecipeBook" asp-route-recipeID="@item.recipeID">Remover do Livro de Receitas</a>

                <p>
                <a asp-controller="RecipeView" asp-action="editarRecipe" asp-route-recipeID="@item.recipeID">Editar Receita</a>
                </p>
            </td>
        </tr>
}
    </tbody>
</table>
